// カラーパレット
$primary-color: #00b8d4;
$button-hover-color: #008c9e;
$background-color: #f7f7f7;
$input-border-color: #dcdcdc;
$text-color: #333;

/* ベースのスタイル */
body {
  font-family: Arial, sans-serif;
  background-color: $background-color;
  margin: 0;
  padding: 0;
  display: block;
  width: auto;
  height: auto;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;

  &__title {
    font-size: 3rem;
    color: $text-color;
    margin-bottom: 30px;
  }

  &__form {
    display: flex;
    height: 48px;
    width: 70%;
  }

  &__input {
    border: none;
    border-radius: 4px 0 0 4px;
    font-size: 16px;
    padding: 0 14px;
    width: 100%;
    background: #fff;

    &:focus {
      border: 1px solid $primary-color;
    }
  }

  &__button {
    border: none;
    background: #7d7d7d;
    font-size: 17px;
    height: 48px;
    color: #fff;
    line-height: 1;
    border-radius: 0 4px 4px 0;
    width: 14%;

    &:hover {
      background-color: $button-hover-color;
    }
  }

  &__shortContainer {
    margin-top: 20px;
    font-size: 1.2rem;
    color: $text-color;
    word-wrap: break-word;
    max-width: 80%;
    margin-bottom: 10px;
  }

  &__short {
    font-size: 1rem;
    color: #888;
    margin-top: 10px;
  }
}
